body{
    background-color: #f8fafb;
    margin: 0;
}

img{
    width:100%;
}

#projects--wrapper{
   max-width: 600px;
   margin: 0px auto;
   margin-top: 2em;
   border: 1px solid #eaeaeb;
   background-color: #fff;
   border-radius: 5px;
}

.project--card{
    display: grid;
    grid-template-columns: 5fr 6fr;
    margin-top: 2em;
    gap: 2em;
    padding: 1em;
    align-items: center;
}

.card--header{
    display: flex;
    align-items: center;
    gap: 2em;
}

.project--card p{
    color: #737373;
}

.vote--option{
    color: #737373;
    font-size: 23px;
    cursor: pointer;
}

.vote--option:hover{
    color: #000;
}


#form-wrapper{
   max-width: 1000px;
   margin: 0px auto;
   margin-top: 2em;
   border: 1px solid #eaeaeb;
   background-color: #fff;
   border-radius: 5px;
   padding: 2em;
}